<!--　確認したいこと　なんで　content.user.nameでちゃんと
contentを持っているユーザーの名前が取得できているのか　-->
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= content.user.name %></h5>
    <p class="card-text"><%= content.body %></p>
    <%= content.user.email %> 作成日：<%= content.created_at %>
    <hr>
    <div id="likes_buttons_<%= content.id %>">
      <%= render partial: 'likes/like', locals: {content: content} %>
    </div>
    <%= link_to 'Edit', edit_content_path(content), class: "btn btn-outline-primary" %>
    <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
</div>
<!-- Issue：
・記事を持ってるユーザーにだけEditとDestroyを表示<br>
1．if current_user?で分岐させる<br>
・返信ボタンを用意する(返信用テーブルを作成後) -->