<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">
      <h6><%= link_to content.user.name, user_profile_path(content.user.id) %></h6>
    <p class="card-text"><%= content.body %></p>
    <%= content.user.email %> 作成日：<%= content.created_at.to_s(:datetime_jp) %>
    <hr>
    <div id="likes_buttons_<%= content.id %>">
      <%= render partial: 'likes/like', locals: {content: content} %>
    </div>
    <!--　indexからのアクションのみ、内容確認を表示させたい　-->
    <% if action_name == "index" %>
        <%= link_to '内容を確認', content_show_path(content), class: "btn btn-outline-primary" %>
    <% end %>
    

  </div>
</div>
