<!--　確認したいこと　なんで　content.user.nameでちゃんと
contentを持っているユーザーの名前が取得できているのか　-->
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= content.user.name %><%= content.user.email %></h5>
    <p class="card-text"><%= content.body %></p>
    <%= link_to 'Edit', edit_content_path(content), class: "btn btn-outline-primary" %>
    <%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
  </div>
</div>