      <h3>comments</h3>
      <!-- レビューを実装する箇所になります -->
        <% @comments.each do |comment| %>
          <p class="h6"><%= comment.user.name if comment.user %></p>
          <p class="h6"><%= comment.combody %></p>
          <label><%= comment.created_at %></label>
        <% end %>

      <% if user_signed_in? %>
            <%= form_with model: @comment, url: content_comments_path(@content) do |f| %>
              <%= f.text_area :combody, class: "form-control m-2" %>
              <%= f.submit "comment create" , class:"btn tsublog-submit-button ml-2"%>
            <% end %>

      <% end %>
