    <!-- comment -->
    <hr class="comment">
    <h5>comments</h5>
        <% @comments.each do |comment| %>
              <p ><%= comment.user.name if comment.user %></p>
              <p ><%= comment.combody %></p>
              <p><%= comment.created_at %></p>
              <hr>
        <% end %>
      <% if user_signed_in? %>
            <%= form_with model: @comment, url: content_comments_path(@content) do |f| %>
              <%= f.text_area :combody, class: "form-control m-2" %>
              <%= f.submit "comment create" , class:"btn tsublog-submit-button ml-2"%>
            <% end %>
      <% end %>