<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
<h3>Profile</h3>

<hr>
<br>

<h3>ユーザー名</h3>
<%= @user.name %>
<hr>
<h3>プロフィール</h3>
<%= @user.profile %>
<hr>
<h3>フレンド</h3>
<%= link_to "フォロー一覧", user_followings_path %>
<%= link_to "フォロワー一覧", user_followers_path %>
<hr>
<%= link_to "編集する", mypage_edit_users_path %>

        </div>
    </div>
</div>