<h3>お気に入りタグ</h3>
<br>
<!--　formはlink_to+modalで下記にJS記述してmodalウィンドウで対応にしたい -->
 <%= link_to new_tag_path, title: "New", class: "btn p-0 text-dark" do %>
    <i class="fas fa-plus align-middle pr-1"></i><span class="align-middle">新しいタグを作成</span>
  <% end %>
<hr>
<div id='task-list'>
<table>
  <thead>
    <tr>
      <th>タグ名</th>
      <th>順番</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_users.each do |t| %>
      <tr>
        <td><%= t.tag.tag_name %></td>
        <td><%= t.position %></td>
        <td><%= link_to "削除", t, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
        <td><%= link_to "↑", move_higher_tag_user_path(t) %></td>
        <td><%= link_to "↓", move_lower_tag_user_path(t) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script type="text/javascript">

</script>