<!-- ログインしてない時=ウェルカムページの時は隠す-->

<div class="navigation">
  <div class="menu">
    <div class="profile">
      <% if current_user %>
      <h3>プロフィール</h3>
      <h3>ユーザー名：<%= current_user.name %></h3>
      <h3>プロフィール：<%= current_user.profile %></h3>
      <% end %>
    </div>
    <ul>
      <li><%= link_to '登録情報', mypage_users_path %></li>
      <li><%= link_to 'つぶやく', new_content_path %></li>
      <li><a href="#">フレンド</a></li>
      <li><a href="#">お気に入り</a></li>
      <li><a href="#">トレンド</a></li>
      <li><a href="#">検索</a></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
    
  </div>
</div>
