<div class="menu-inner">
  <div class="menu">
    <div class="profile">
      <% if current_user %>
      <h3>プロフィール</h3>
      <h3>ユーザー名：<%= current_user.name %></h3>
      <h3>プロフィール：<%= current_user.profile %></h3>
      <% end %>
    </div>
    
      <%= link_to '登録情報', mypage_users_path %>
      <%= link_to 'つぶやく', new_content_path %>
      <a href="#">フレンド</a>
      <a href="#">お気に入りタグ</a>
      <a href="#">トレンド</a>
      <a href="#">検索</a>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    
    
  </div>
</div>
