<div class="menu-inner">
  <div class="menu">
    <div class="profile">
      <% if current_user %>
      <p>プロフィール</p>
      <p>ユーザー名：<%= current_user.name %></p>
      <p>プロフィール：<%= current_user.profile %></p>
      <% end %>
    </div>

    <ul>
      <li><i class="fa fa-user" aria-hidden="true"></i><%= link_to '登録情報', user_profile_path(current_user.id) %></li>
      <li><i class="fa fa-comment" aria-hidden="true"></i><%= link_to 'つぶやく', new_content_path %></li>
      <li><i class="fa fa-users" aria-hidden="true"></i><a href="#">フレンド</a></li>
      <li><i class="fa fa-heart" aria-hidden="true"></i><a href="#">お気に入り</a></li>
      <li><i class="fa fa-line-chart" aria-hidden="true"></i><a href="#">トレンド</a></li>
      <li><i class="fa fa-search" aria-hidden="true"></i><a href="#">検索</a></li>
      <li><i class="fa fa-sign-out " aria-hidden="true"></i><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>

    
  </div>
</div>
