<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/default' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="content">
    <%= render 'layouts/flash' %>
          <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  
  </body>
</html>
