<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/default' %>
  </head>

  <body>
    <div class="content">
    <%= render 'layouts/header' %>
      <div class="main">
    <%= render 'layouts/flash' %>
          <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  
  </body>
</html>
